FormatSql/*
Scheme - */*
Theme - */*
Utils/*
User/Theme -*/*
User/Package Control.cache/*
User/Projects/*
User/Package Control.last-run
User/Widget*.sublime-settings
User/SBSCompare*
HTML-CSS-JS Prettify/*
python-*/*
mdpopups/*
markupsafe/*
pygments/*